﻿@model IEnumerable<BaseDatosEntityFramework.Models.Direccion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Barrio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Persona.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Barrio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CodigoDireccion }) |
            @Html.ActionLink("Details", "Details", new { id=item.CodigoDireccion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CodigoDireccion })
        </td>
    </tr>
}

</table>
