﻿
@model BaseDatosEntityFramework.Models.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Edad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var persona in Model.Personas)
        {
            <tr>
                <td>@persona.Id</td>
                <td>@persona.Nombre</td>
                <td>@persona.Edad</td>
            </tr>
        }
    </tbody>
</table>
@{Html.RenderPartial("_paginador", Model);}