﻿@model BaseDatosEntityFramework.Models.SubDireccion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SubDireccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Direccion.Barrio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion.Barrio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subCalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subCalle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
